body {
  font-family:
    "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  margin: 70pt;
  color: rgb(90,90,90);
}
h1 {
  font-size: 36pt;
  margin-above: 12pt;
  margin-bottom: 6pt;
}
h2 {
  font-size: 16pt;
  font-weight:normal;
  margin-top: 20pt;
  margin-bottom: 3pt;
}
h1, h2 {
  font-variant:small-caps;
  color: rgb(132,47,115);
}
p, dt, dd {
  font-size: 10pt;
  max-width: 40em;
  margin-top: 0pt;
  margin-bottom: 8pt;
}
p, dd {
  margin-left: 108pt;
}
a:link, a:visited {
  color: rgb(90,90,90);
  text-decoration:none;
}
a:active, a:hover{
  text-decoration:underline;
}
