body {
  font-family:
    "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: rgb(90,90,90);
}
h1 {
  font-size: 36pt;
  margin-above: 12pt;
  margin-bottom: 6pt;
}
h2 {
  font-size: 16pt;
  font-weight:normal;
  margin-top: 20pt;
  margin-bottom: 3pt;
}
h1, h2 {
  font-variant:small-caps;
  color: rgb(132,47,115);
}
p, dt, dd {
  font-size: 10pt;
  max-width: 40em;
  margin-top: 0pt;
  margin-left: 54pt;
  margin-bottom: 8pt;
}
p, dd {
  margin-left: 108pt;
}
a {
       font-style: italic;
}
a:link, a:visited {
  color: rgb(90,90,90);
  text-decoration: none;
}
a:active, a:hover{
  color: rgb(132,47,115);
}

.tags {
    font-style: italic;
}

@media screen {
    body {margin: 70pt;}
}

@media print {

    a {
       text-decoration: null;
    }

    h2 {
        page-break-before: always;
    }
    
    p, dd {
        orphan: 2;
        widow: 2;
        page-break-inside: avoid;
    }
    
    @page {
        margin-left:10%;
        margin-right:10%;
        margin-top:20%;
        margin-bottom:10%;
    }
}